# Devenv
.devenv/

# Minecraft

## Runtime & Caches
.sable/
.mixin.out/
cache/
gtceu/
usercache.json
usernamecache.json
ponders_watched.json
patchouli_data.json
icon.png
emi.json

## Logs & Reports
logs/
crash-reports/
command_history.txt

## Mods & Downloads
coremods/
mods/
downloads/

## User Data & Assets
options.txt
saves/
schematics/
screenshots/
resourcepacks/
server-resource-packs/
shaderpacks/
texturepacks/

## KubeJS
kubejs/config/web_server.json
kubejs/README.txt
local/kubejs/

## Configuration
!config/
config/*
!config/modpack_defaults/
!config/modpack_defaults/**
